.highlight-share-transform(@transformation) {
    -webkit-transform: @transformation;
        -ms-transform: @transformation;
            transform: @transformation;
}
.highlight-share-animation(@animation) {
    -webkit-animation: @animation;
            animation: @animation;
}
.highlight-share-filter(@filter) {
    -webkit-filter: @filter;
            filter: @filter;
}

.highlight-share-on-bottom() {
    &::before {
        bottom: auto;
        top: 100%;
        border-width: 0 @highlight-share-arrow-size @highlight-share-arrow-size;
        margin-top: 0;
    }

    > ul {
        top: 100%;
        transform: translateX(-50%);
        margin: @highlight-share-arrow-size 0 0;
    }
}
