$highlight-share-vertical-offset: -.25em;
$highlight-share-background: #333;
$highlight-share-foreground: #fff;
$highlight-share-highlight-link: rgba(#fff, .25);
$highlight-share-border-radius: .25em;
$highlight-share-arrow-size: .5em;

$highlight-share-sharer-width: 2em;
$highlight-share-sharer-height: 2em;
$highlight-share-sharer-padding: .35em;
$highlight-share-border-distance: 4em;
$highlight-share-animation-length: .3s;
$highlight-share-small-devices-max: 575px;
